@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    width: 1160px;
    margin: 0 auto;
}

/* Шапка сайта*/
.page-header {  
    color: #000000;
}

.header-container {
    width: 1160px;
    margin: 0 auto;
    margin-top: 17px;
    background-color: #ffffff;
}

.navigation-logo {
    display: block;
    width: 145px;
    height: 36px;
    margin-left: 60px;
    margin-bottom: -13px;
}

.navigation-container {
    width: 1160px;
    height: 300px;
    background-color: #ffe17f;
}

.navigation {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 50px;
}

.user-navigation-list {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.user-navigation-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.user-navigation-item-search {
    width: 480px;
    margin-right: 24px;
    /* Убрать, когда будут значки */
    margin-left: 36px;
}

.user-navigation-item-login {
    width: 245px;
    margin-right: 15px;
}

.user-navigation-item-compare {
    width: 120px;
    margin-right: 14px;
}

.user-navigation-item-basket {
    width: 65px;
    margin-left: auto;
    text-align: right;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 1040px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.navigation-item-catalog {
    width: 236px;
    height: 20px;
    margin-right: 304px;
}

.navigation-item-delivery {
    width: 140px;
    height: 20px;
    margin-right: 20px;
}

.navigation-item-garanty {
    width: 140px;
    height: 20px;
    margin-right: 60px;
}

.navigation-item-contacts {
    text-align: right;
    width: 140px;
    height: 20px;
}

.navigation-link {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}


/* Слайдер */
.slider {
    margin-bottom: 70px;
    margin-top: -150px;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0;
}

.slider-container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 560px;
}

.slider-image {
    width: 560px;
    height: 560px;

}

.slider-slogan {
    margin-top: 120px;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.slider-text {
    margin: 0;
    margin-bottom: 30px;
}

.slider-link {
    width: 220px;
    margin-bottom: 70px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffe17f;
}

.slider-table {
    text-align: left;
}

.slider-table th {
    width: 160px;
    font-weight: 400;
    padding: 0;
}

.slider-table-item {
    font-size: 36px;
    line-height: 30px;
}

.slider-table-text {
    font-size: 16px;
    line-height: 30px;
}


/* Категория товаров */
.categories {
    margin-bottom: 70px;
}

.categories-list {
    margin: 0;
    padding: 0;
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(6, 160px);
}

.image-container {
    width: 160px;
    height: 160px;
    background-color: #ffe17f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.selfie {
    align-items: flex-end;
}

.categories-item {
    display: flex;
    width: 160px;
    flex-direction: column;
}

.categories-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    letter-spacing: -0.02em;
}


/* Список преимуществ */
.advantages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 388px;
}

.advantages-container::before {
    content: "";
    position: absolute;
    background-color: #f0f0f0;
    width: 100%;
    height: 288px;
    z-index: -1;
}

.advanvantages-content-container {
    display: flex;
    width: 1095px;
    height: 250px;
    margin: 0;
    margin-bottom: 70px;
    margin-left: 120px;
    padding: 0;
}

.advantages-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.advantages-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    width: 560px;
    height: 70px;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}

.advantages-text {
    width: 500px;
    height: 165px;
    margin: 0;
    padding: 0;
}


/* Кнопка доставки над секцией контактов */
.delivery-button {
    margin-top: 90px;
    margin-bottom: 97px;
}

.delivery-link {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    height: 100px;
}


/* Контакты */
.contacts {
    margin-bottom: 90px;
}

.contacts-container {
    display: flex;
    justify-content: space-between;
}

.contacts-container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
}

.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-top: 40px;
    width: 560px;
    height: 70px;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 200px;
    margin: 0;
    margin-bottom: 25px;
}

.info-delivery-container {
    width: 497px;
    height: 120px;
    margin-bottom: 50px;
}

.contacts-list {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.contacts-item {
    padding: 10px 0;
}

.contacts-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #ffe17f;
}

.contacts-subtitle {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

.contacts-schedule {
    list-style-type: none;
    margin-bottom: 67px;
    padding: 0;
}

.contacts-address-text {
    font-style: normal;
    margin-bottom: 0;
}

.contacts-phone {
    text-decoration: underline;
    font-style: normal;
    color: #000000;
    padding: 0;
}

.contacts-button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #ffe17f;
    width: 260px;
    text-align: center;
}


/* Подписка на рассылку */
.subscription {
    background-color: #f0f0f0;
    height: 420px;
}

.subscription-container {
    display: flex;
    align-items: baseline;
}

.subscription-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    width: 360px;
    height: 120px;
    margin-top: 75px;
    margin-right: 240px;
}

.subscription-text {
    width: 560px;
}

.subscription-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.subscription-form-email {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background-color: #f0f0f0;
    color: #444444;
    border: none;
    width: 560px;
    height: 30px;
    margin-right: 40px;
}

.subscription-button {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 260px;
    height: 55px;
    border: 3px solid #444444;
    padding: 0;
    margin-right: auto;
}

.subscription-mark {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

/* Подвал */
.page-footer {
    background-color: #444444;
    color:#ffffff;
}

.footer-container {
    padding-top: 62px;
    padding-bottom: 62px;
}


/* Контакты */
.footer-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 35px;
}

.footer-contacts-adress {
    width: 240px;
}

.about-text-adress {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.footer-list {
    display: flex;
    max-width: 460px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-item {
    width: 150px;
    height: 20px;
    text-align: center;
    margin-right: 7px;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.footer-contacts-phone {
    width: 240px;
    text-align: right;
}

.about-text-phone {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
}

/* Социальные сети */
.footer-social-container {
    display: flex;
    align-items: baseline;
}

.footer-social-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    margin-right: 15px;
    padding: 0;
}

.footer-social-item:last-child {
    margin-right: 0;
}


/* Стили для каталога */

/* Изменен стиль для шапки каталога */
.catalog-header-container {
    width: 1160px;
    height: 210px;
    margin: 0 auto;
    background-color: #ffffff;
}

.catalog-navigation-container {
    width: 1160px;
    height: 190px;
    background-color: #ffe17f;
}

/* Заголовок каталога */
.inner-header {
    margin-top: 40px;
    margin-bottom: 50px;
}

.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    margin-left: 60px;
    padding: 0;
}

/* Хлебные крошки */
.breadcrumbs {
    display: flex;
    margin: 0;
    margin-left: 60px;
    padding: 0;
    color: #000000;
    list-style-type: none;
}

.breadcrumbs-item {
    font-family: "Rubik", sans-serif;
    font-style: 400;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding: 0;
    margin-right: 35px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: inherit;
}

/* Секция фильтр */
.catalog-products {
    display: grid;
    justify-content: center;
    grid-template-columns: 328px 832px;
    grid-template-rows: 70px auto;
    grid-template-areas:
       "name-filter-container sorting-container"
       "filter-container      sorting-container";
}

.name-filter-container {
    position: relative;
    grid-area: name-filter-container;
    background-color: #dcdcdc;
    padding-left: 60px;
}

.name-filter-container::before {
    content: "";
    position: absolute;
    background-color: #dcdcdc;
    width: 100vw;
    height: 100%;
    right: 0;
    z-index: -1;
}

.catalog-products-subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
}

.filter-container {
    position: relative;
    grid-area: filter-container;
    background-color: #ebebeb;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}

.catalog-filter {
    margin-right: 70px;
}

.filter-container::before {
    content: "";
    position: absolute;
    background-color: #ebebeb;
    width: 100vw;
    height: 100%;
    right: 0;
    z-index: -1;
}

.catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
}

.catalog-filter-group {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 70px;
}

.catalog-filter-list {
    list-style-type: none;
    padding: 0;
}

.catalog-filter-item {
    margin-bottom: 15px;
}

.button-filter {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #ffe17f;
    width: 200px;
    height: 20px;
    border: none;
    padding: 0;
    margin-top: 50px;
}

/* Сортировка */
.sorting-container {
    grid-area: sorting-container;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 77px;
}

.sorting-type {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    height: 70px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.sorting-type::before {
    content: "";
    position: absolute;
    background-color: #ebebeb;
    width: 100vw;
    height: 100%;
    left: 0;
    z-index: -1;
}

.sorting-type-item {
    margin-left: 70px;
    margin-right: 10px;
}

.selection-control {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background-color: #ebebeb;
    border: none;
}

/* Каталог */
.product-list {
    list-style-type: none;
    margin: 0;
    margin-left: 70px;
    margin-bottom: 44px;
    padding: 0;
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px 44px;
}

.product-card-link {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    display: block;
}

.product-text-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.product-card-title {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    width: 280px;
    height: 50px;
    margin: 0;
}

.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    font-family: "Rubik", sans-serif;

}

.product-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    text-transform: uppercase; 
    width: 760px;
    height: 55px;
    margin-left: 70px;
    margin-bottom: 51px;
    padding: 0;
    background-color: #ffffff;
    border: 3px solid #ebebeb;
}

.pagination-list {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 0;
    margin-left: 70px;
    list-style-type: none;
    padding: 0;
}

.pagination-item-number {
    text-decoration: none;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.3;
    margin-right: 30px;
}

.pagination-link {
    text-decoration: none;
    color: #000000;
}

.pagination-text-item {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-left-item {
    text-decoration: none;
    margin-right: auto;
    margin-left: 30px;
}

.pagination-right-item {
    text-decoration: none;
    margin-left: auto;
    margin-right: 30px;
}

.paginetion-item {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.class-container {
    flex-grow: 1;
}
