@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    width: 1160px;
    margin: 0 auto;
}

/* Шапка сайта*/
.page-header {  
    color: #000000;
}

.header-container {
    width: 1160px;
    margin: 0 auto;
    background-color: #ffffff;
}

.navigation-logo {
    display: block;
    width: 145px;
    height: 36px;
    margin-left: 60px;
    margin-bottom: -13px;
    outline: none;
}

.navigation-container {
    width: 1160px;
    background-color: #ffe17f;
}

.navigation {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 50px;
}

/* Верхнее меню */
.user-navigation-list {
    margin: 0;
    padding: 0;
    height: 20px;
    margin-bottom: 29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

.user-navigation-link {
    position: relative;
    height: 20px;
    width: max-content;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    outline: none;
    border-radius: 20px;
}

.user-navigation-link:hover {
    opacity: 0.6;
}

.user-navigation-link:active {
    opacity: 0.3;
}

/* Кнопка вход */
.login-link:focus {
    outline: 2px solid #af4fff;
    padding: 10px 21px;
    top: -10px;
    left: -21px;
}

.login-link:hover {
    outline: none;
}

.login-link:active {
    outline: none;
}

.user-login-link:focus {
    outline: 2px solid #af4fff;
    outline-offset: 10px;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    left: -10px;
}

.user-login-link:hover {
    outline: none;
}

.user-login-link:active {
    outline: none;
}

/* Кнопка сравнить */
.compare-link:focus {
    outline: 2px solid #af4fff;
    padding: 10px 21px;
    top: -10px;
    left: -21px;
}

.compare-link:hover {
    outline: none;
}

.compare-link:active {
    outline: none;
}

/* Кнопка корзина */
.basket-link {
    display: flex;
    align-items: center;
}

.basket-link:focus {
    position: relative;
    outline: 2px solid #af4fff;
    padding: 10px 21px;
    top: -30px;
    right: -21px;
}

.basket-link:hover {
    outline: none;
}

.basket-link:active {
    outline: none;
}

.basket-image {
    position: relative;
    z-index: 1;
    left: 9px;
    padding-right: 8px;
    top: -1px;
}

.navigation-image-login {
    margin-right: 12px;
}

.navigation-image {
    margin-right: 10px;
}

.user-navigation-item-search {
    width: 516px;
    margin-right: 24px;
}

.user-navigation-form-search {
    position: relative;
    display: flex;
    align-items: center;
}

.user-navigation-search-input {
    display: block;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    width: 496px;
    height: 20px;
    padding: 0;
    padding-left: 36px;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.user-navigation-search-input::placeholder {
    color: #000000;
    opacity: 0.3;
}

.user-navigation-search-input:hover::placeholder {
    opacity: 0.6;
}

.user-navigation-search-input:focus {
    position: relative;
    outline: 2px solid #af4fff;
    outline-offset: 8px;
    border-radius: 20px;
}

/* Временно скрываем кнопку для дальнейшей реализации */
.user-navigation-search-button {
    position: absolute;
    content: "";
    top: -10px;
    left: 346px;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 160px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 2px solid #000000;
    border-radius: 0px 20px 20px 0px;
    display: none;
}

/* Если задаем класс ниже, кнопка появляется,
а outline меняет цвет на черный */
.search-button-open {
    display: block;
}

/* .user-navigation-search-input {
    outline: 2px solid #000000;
    outline-offset: 8px;
    border-radius: 20px;
} */

.user-navigation-search-button:focus {
    border: 2px solid #af4fff;
    border-radius: 0px 20px 20px 0px;
}

.user-navigation-search-button:hover {
    border: 2px solid #000000;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0px 20px 20px 0px;
}

.user-navigation-search-button:active {
    border: 2px solid #000000;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);;
    border-radius: 0px 20px 20px 0px;
}

.user-navigation-search-label {
    content: "";
    position: absolute;
    cursor: pointer;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.user-navigation-item-login {
    display: flex;
    width: 245px;
    height: 20px;
    margin-right: 15px;
}

.user-navigation-link-logout {
    margin-right: 36px;
    margin-left: auto;
}

.user-navigation-item-compare {
    width: 120px;
    height: 20px;
    margin-right: 14px;
}

.user-navigation-item-basket {
    width: auto;
    height: 20px;
    margin-left: auto;
    text-align: right;
}

.number-basket-item {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: -15px;
    z-index: 2;
}

/* Нижнее меню */
.navigation-list {
    margin: 0;
    padding: 0;
    width: 1040px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

/* Выпадающее меню */
.navigation-item-catalog {
    position: relative;
    width: 236px;
    height: 20px;
    margin-right: 304px;
}

.navigation-item-catalog:focus-within .navigation-submenu-list {
    display: flex;
}

.navigation-item-catalog:hover .navigation-submenu-list {
    display: flex;
}

.navigation-submenu-list {
    position: absolute;
    content: "";
    width: 1100px;
    height: 120px;
    top: 38px;
    left: -60px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 27px;
    background-color: #ffe17f;
    z-index: 1;
    display: none;
}

.navigation-submenu-item {
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-right: 50px;
    width: 210px;
}

.navigation-submenu-link {
    text-decoration: none;
    color: #000000;
    width: max-content;
    margin-bottom: 23px;
}

.navigation-submenu-link:focus {
    position: relative;
    outline: 2px solid #af4fff;
    border-radius: 25px;
    outline-offset: 5px;
    padding-left: 10px;
    padding-right: 10px;
    left: -10px;
}

.navigation-submenu-link:hover {
    outline: none;
    opacity: 0.6;
}

.navigation-submenu-link:active {
    opacity: 0.3;
}

.navigation-item-delivery {
    width: 140px;
    height: 20px;
    margin-right: 20px;
}

.navigation-item-garanty {
    width: 140px;
    height: 20px;
    margin-right: 60px;
}

.navigation-item-contacts {
    text-align: right;
    width: 140px;
    height: 20px;
}

.navigation-link {
    position: relative;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    width: max-content;
    outline: none;
}

.navigation-link:focus {
    outline: 2px solid #af4fff;
    border-radius: 25px;
    outline-offset: 15px;
}

.navigation-link:hover:not(.navigation-catalog-link) {
    border-bottom: 2px solid #000000;
    padding-bottom: 8px;
    border-radius: 0;
    outline: none;
}

.navigation-link:active {
    border-radius: 0;
    opacity: 0.3;
    outline: none;
}

.contacts-link {
    margin-left: auto;
}

.navigation-catalog-link {
    position: relative;
}

.navigation-catalog-link:hover {
    outline: none;
}

.navigation-catalog-link::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../images/catalog/catalog-button-plus.svg);
    background-repeat: no-repeat;
    left: 242px;
    top: -15px;
}

.navigation-catalog-link:hover:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../images/catalog/catalog-button-minus.svg);
    background-repeat: no-repeat;
}

/* Слайдер */
.slider {
    margin-bottom: 70px;
}

.slider-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0;
}

.slider-container::after {
    position: absolute;
    content: "";
    background-color: #ffe17f;
    width: 1160px;
    height: 152px;
    top: 0;
    left: 0;
    z-index: -1;
}

.slider-button-container {
    position: relative;
    width: 560px;
    height: 560px;
}

.slider-button {
    height: 60px;
    width: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

.slider-button:hover {
    opacity: 0.6;
}

.slider-button:active {
    opacity: 0.3;
}

.slider-next {
    content: "";
    position: absolute;
    background-image: url(../images/slider/slider-button-left.svg);
    background-repeat: no-repeat;
    top: 230px;
    left: 19px;
}

.slider-next:focus {
    width: 40px;
    height: 80px;
    border: 2px solid #af4fff;
    border-radius: 6px;
    background-position: center;
    top: 220px;
    left: 9px;
}

.slider-prev {
    content: "";
    position: absolute;
    background-image: url(../images/slider/slider-button-right.svg);
    background-repeat: no-repeat;
    top: 230px;
    right: 19px;
}

.slider-prev:focus {
    width: 40px;
    height: 80px;
    border: 2px solid #af4fff;
    border-radius: 6px;
    background-position: center;
    top: 220px;
    right: 9px;
}

.slider-container-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 560px;
}

/* Скрыл остальные слайды для дальнейшей реализации */
.slider-2,
.slider-3 {
    display: none;
}

.slider-1::before {
    content: "01";
    position: absolute;
    width: 250px;
    height: 135px;
    top: 30px;
    right: 48px;
    font-family: "Rubik";
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: #ffffff;
}

.slider-2::before {
    content: "02";
    position: absolute;
    width: 250px;
    height: 135px;
    top: 30px;
    right: 48px;
    font-family: "Rubik";
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: #ffffff;
}

.slider-3::before {
    content: "03";
    position: absolute;
    width: 250px;
    height: 135px;
    top: 30px;
    right: 48px;
    font-family: "Rubik";
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: #ffffff;
}

.slider-image {
    position: relative;
    width: 560px;
    height: 560px;
}

.slider-slogan {
    position: relative;
    margin-top: 120px;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.slider-text {
    margin: 0;
    margin-bottom: 30px;
}

.slider-link {
    position: relative;
    width: 220px;
    height: 20px;
    margin-bottom: 70px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}

.slider-link::before {
    position: absolute;
    content: "";
    background-color: #ffe17f;
    width: 220px;
    height: 8px;
    top: 6px;
    left: 0;
    z-index: -1;
}

.slider-link:active {
    background-color: #ffe17f;
    height: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.slider-link:focus::before {
    position: absolute;
    content: "";
    background-color: #af4fff;
    width: 220px;
    height: 8px;
    top: 6px;
    left: 0;
    z-index: -1;
}

.slider-link:hover::before {
    background-color: #ffe17f;
    height: 40px;
    top: -10px;
}

.slider-table {
    text-align: left;
}

.slider-table th {
    width: 160px;
    font-weight: 400;
    padding: 0;
}

.slider-table-item {
    font-size: 36px;
    line-height: 30px;
}

.slider-table-text {
    font-size: 16px;
    line-height: 30px;
}

.slider-pagination {
    position: absolute;
    content: "";
    top: 365px;
    right: 61px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.slider-pagination-item {
    margin: 0 11px;
}
  
.slider-pagination-button {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.slider-pagination-button:focus {
    border: 2px solid #af4fff;
    border-radius: 50%;
}

.slider-pagination-button:hover {
    border: 2px solid #000000;
    opacity: 0.6;
}


.slider-pagination-button:active {
    border: 2px solid #000000;
    opacity: 0.3;
}


.slider-pagination-button-current {
    background-color: #000000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider-pagination-button-current:focus {
    border: none;
}

/* Категория товаров */
.categories {
    margin-bottom: 69px;
}

.categories-list {
    margin: 0;
    padding: 0;
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(6, 160px);
}

.image-container {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.selfie {
    align-items: flex-end;
}

.categories-item {
    display: flex;
    width: 160px;
    flex-direction: column;
    margin-bottom: 93px;
}

.categories-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    background-color: #ffe17f;
    height: 160px;
    color: #000000;
    letter-spacing: -0.02em;
}

.categories-link:focus {
    outline: 5px solid #af4fff;
    color: #af4fff;
}

.categories-link:hover {
    background-color: #ffc700;
    height: 160px;
    outline: none;
    color: #000000;
}

.categories-link:active {
    opacity: 0.3;
}

/* Список преимуществ */
.advantages {
    margin-bottom: 70px;
}

.advantages-container {
    position: relative;
}

.advantages-container::before {
    content: "";
    position: absolute;
    background-color: #f0f0f0;
    width: 100%;
    height: 288px;
    top: 100px;
}

.advanvantages-content-container {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 69px;
}

.advantages-button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 240px;
    margin-top: 19px;
}

.advantages-button-container::before {
    position: absolute;
    content: "";
    top: 70px;
    left: 120px;
    transform: rotate(90deg);
    background-color: #000000;
    width: 319px;
    height: 7px;

}

/* Кнопки списка преимуществ */
.advantages-button {
    position: relative;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 160px;
    height: 20px;
    margin-bottom: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
    z-index: 1;
}

.advantages-button::before {
    position: absolute;
    content: "";
    background-color: #ffc700;
    width: 160px;
    height: 8px;
    top: 6px;
    left: 0;
    z-index: -1;
}

.advantages-button:not(.advantages-button-current):hover::before {
    background-color: #ffc700;
    height: 40px;
    top: -8px;
}

.advantages-button:focus::before {
    background-color: #af4fff;
    height: 8px;
    top: 6px;
    left: 0;
    z-index: -1;
}

.advantages-button-current {
    position: relative;
    color: #ffe17f;
}

.advantages-button-current::before {
    position: absolute;
    content: "";
    background-color: #000000;
    height: 40px;
    width: 160px;
    top:-8px;
    z-index: -1;
}

.advantages-button-current:active::before {
    background-color: #000000;
    height: 40px;
    width: 160px;
    top:-8px;
    z-index: -1;
}

.advantages-button-current:focus::before {
    position: absolute;
    content: "";
    background-color: #000000;
    height: 40px;
    width: 160px;
    top:-8px;
    z-index: -1;
}

.advantages-button-current::after {
    position: absolute;
    content: "";
    width: 120px;
    height: 40px;
    top: -8px;
    left: 160px;
    background-color: #000000;
}

.advantages-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Переключение списка преимуществ */
.advantages-item-1 {
    position: relative;
}

.advantages-item-1::after {
    position: absolute;
    content: "";
    background-image: url(../images/advantage/delivery.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 560px;
    width: 136px;
    height: 164px;
}

/* Временно скроем для дальнейшей реализации */
.advantages-item-2 {
    position: relative;
    display: none;
}

.advantages-item-2::after {
    position: absolute;
    content: "";
    background-image: url(../images/advantage/garanty.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 560px;
    width: 171px;
    height: 195px;
}

.advantages-item-3 {
    position: relative;
    display: none;
}

.advantages-item-3::after {
    position: absolute;
    content: "";
    background-image: url(../images/advantage/credit.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 560px;
    width: 156px;
    height: 188px;
}

.advantages-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    width: 560px;
    height: 70px;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}

.advantages-text {
    width: 500px;
    height: 165px;
    margin: 0;
    padding: 0;
}

/* Кнопка доставки над секцией контактов */
.delivery-button {
    margin-bottom: 97px;
}

.delivery-button-container {
    position: relative;
}

.delivery-button-container::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    top: 29px;
    right: 31px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(220, 220, 220, 0.5);
    cursor: pointer;
}

.delivery-button-container:hover:after {
    background-color: #dcdcdc;
}

.delivery-button-container:active:after {
    background-color: #dcdcdc;
}

.delivery-button-container::before {
    position: absolute;
    content: "";
    background-image: url(../images/info.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    top: 29px;
    right: 31px;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    z-index: 1;
}

.delivery-button-container:hover::before {
    opacity: 1;
}

.delivery-button-container:active::before {
    opacity: 0.3;
}

.delivery-link {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    height: 100px;
}

.delivery-link:focus {
    outline: 5px solid #af4fff;
}

.delivery-link:hover {
    background-color: #ebebeb;
    outline: none;
}

.delivery-link:active {
    background-color: #ebebeb;
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.delivery-link::before {
    position: absolute;
    content: "";
    width: 125px;
    height: 100px;
    background-color: #ffe17f;
    top: 0;
    left: 0;
}

.delivery-link:hover::before {
    background-color: #ffc700;
}

.delivery-link:active::before {
    background-color: #ffc700;
}

.delivery-link::after {
    position: absolute;
    content: "";
    width: 125px;
    height: 100px;
    background-image: url(../images/delivery-button.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    top: 0;
    left: 0;
}

.delivery-link:active::after {
    opacity: 0.3;
}

/* Контакты */
.contacts {
    margin-bottom: 90px;
}

.contacts-container {
    display: flex;
    justify-content: space-between;
}

.contacts-container-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
}

.contacts-container-info::before {
    position: absolute;
    content: "";
    background-color: #000000;
    width: 80px;
    height: 7px;
}

.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-top: 40px;
    width: 560px;
    height: 70px;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 200px;
    margin: 0;
    margin-bottom: 25px;
}

.info-delivery-container {
    width: 497px;
    margin-bottom: 50px;
}

.contacts-list {
    position: relative;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    list-style-type: none;
    margin: 0;
    margin-left: 34px;
    padding: 0;
}

.contacts-item {
    position: relative;
    padding: 10px 0;
}

.contacts-item::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -34px;
    background-color: #ffc700;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.contacts-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    height: 20px;
}

.contacts-subtitle {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

.contacts-schedule {
    list-style-type: none;
    margin-bottom: 67px;
    padding: 0;
}

.contacts-address-text {
    font-style: normal;
    margin-bottom: 0;
}

.contacts-phone {
    text-decoration: underline;
    font-style: normal;
    color: #000000;
    padding: 0;
}

.contacts-button {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    width: 260px;
    height: 20px;
    text-align: center;
    outline: none;
    margin-left: 0;
    margin-right: auto;
}

.contacts-button::before {
    position: absolute;
    content: "";
    background-color: #ffe17f;
    width: 260px;
    height: 8px;
    top: 6px;
    left: 0;
    z-index: -1;
}

.contacts-button:active {
    background-color: #ffe17f;
    height: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.contacts-button:focus::before {
    position: absolute;
    content: "";
    background-color: #af4fff;
    width: 260px;
    height: 8px;
    top: 6px;
    left: 0;
    z-index: -1;
}

.contacts-button:hover::before {
    background-color: #ffe17f;
    height: 40px;
    top: -10px;
}

/* Подписка на рассылку */
.subscription {
    background-color: #f0f0f0;
    height: 420px;
}

.subscription-container {
    display: flex;
    align-items: baseline;
}

.subscription-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    width: 360px;
    height: 120px;
    margin-top: 75px;
    margin-right: 240px;
}

.subscription-text {
    width: 560px;
}

.subscription-form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscription-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.subscription-form-email {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background-color: #f0f0f0;
    color: #444444;
    border: none;
    width: 560px;
    height: 30px;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 9px;
    padding-top: 13px;
    padding-right: 35px;
    cursor: pointer;
}

.subscription-form-email:focus {
    background-color: #dcdcdc;
    outline: none;
}

.subscription-form-email:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.subscription-form-email:active {
    border-bottom: 3px solid #000000;
}

.subscription-form-email:invalid {
    border-bottom: 3px solid #ff3d3d;
}

.subscription-button {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 260px;
    height: 55px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-right: auto;
    cursor: pointer;
    outline: none;
}

.subscription-button:focus {
    border: 3px solid #af4fff;
}

.subscription-button:hover {
    border: 3px solid #000000;
    background-color: #000000;
    color: #ffffff;
}

.subscription-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.subscription-mark {
    position: relative;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.subscription-mark::before {
    position: absolute;
    content: "";
    background-image: url(../images/subscribe.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    top: 8px;
    left: -29px;
}

/* Подвал */
.page-footer {
    background-color: #444444;
    color:#ffffff;
}

.footer-logo {
    outline: none;
}

.footer-container {
    padding-top: 62px;
    padding-bottom: 62px;
}


/* Контакты */
.footer-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 35px;
}

.footer-contacts-adress {
    width: 240px;
}

.about-text-adress {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.footer-list {
    display: flex;
    max-width: 460px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-item {
    width: 150px;
    height: 20px;
    text-align: center;
    margin-right: 7px;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.footer-link:focus {
    outline: 2px solid #af4fff;
    outline-offset: 15px;
    border-radius: 25px;
}

.footer-link:hover {
    border-bottom: 2px solid #ffc700;
    color: #ffc700;
    padding-bottom: 8px;
    outline: none;
    border-radius: 0;
}

.footer-link:active {
    opacity: 0.3;
}

.footer-contacts-phone {
    width: 240px;
    text-align: right;
}

.about-text-phone {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
}

.about-text-phone:focus {
    position: relative;
    outline: 2px solid #af4fff;
    border-radius: 25px;
    padding-left: 13px;
    padding-right: 13px;
    left: 13px;
}

.about-text-phone:hover {
    color: #ffc700;
    outline: none;
}

.about-text-phone:active {
    opacity: 0.3;
    outline: none;
}

/* Социальные сети */
.footer-social-container {
    display: grid;
    grid-template-columns: 280px auto 280px;
    align-items: center;
    grid-template-areas: 
       ". center right";
}

.footer-social-container::before {
    position: absolute;
    content: "";
    background-color: #ffc700;
    width: 80px;
    height: 7px;
}

.footer-social-list {
    display: flex;
    grid-area: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.htmlacademy-link {
    grid-area: right;
    display: block;
    height: 33px;
    margin-left: auto;
    outline: none;
}

.htmlacademy-link:focus {
    outline: 2px solid #af4fff;
    outline-offset: 10px;
    border-radius: 1px;
}

.htmlacademy-link:hover {
    outline: none;
}

.htmlacademy-link:active {
    outline: none;
}

.htmlacademy-logo:hover {
    fill: #ffffff;
}

.htmlacademy-logo:active {
    opacity: 0.3;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin-right: 15px;
    padding: 0;
}

.footer-social-item:last-child {
    margin-right: 0;
}

.footer-social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer-social-button:focus .footer-social-image {
    fill: #ffffff;
}

.footer-social-button:focus {
    outline: 5px solid #af4fff;
    background-color: #444444;
    border: none;
}

.footer-social-button:hover {
    outline: none;
    background-color: #ffc700;
}

.footer-social-button:active {
    opacity: 0.3;
}


/* Стили для каталога */
/* Заголовок каталога */
.catalog-navigation-container {
    padding-bottom: 38px;
}

.catalog-navigation-container .user-navigation-link-logout {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.3;
    top: 0;
    right: 16px;
    cursor: pointer;
}

.inner-header {
    margin-top: 40px;
    margin-bottom: 50px;
}

.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    margin-left: 60px;
    padding: 0;
}

/* Хлебные крошки */
.breadcrumbs {
    position: relative;
    display: flex;
    margin: 0;
    margin-left: 60px;
    padding: 0;
    color: #000000;
    list-style-type: none;
}

.breadcrumbs-item {
    position: relative;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    margin-right: 35px;
}

.breadcrumbs-item:not(:last-child)::after {
    position: absolute;
    content: "";
    background-image: url(../images/catalog/breadcrumbs.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    width: 4px;
    height: 7px;
    top: 6px;
    right: -19px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: inherit;
}

.breadcrumbs-link:focus {
    outline: 5px solid #af4fff;
    outline-offset: 5px;
}

.breadcrumbs-link:hover {
    color: rgba(0, 0, 0, 1);
    outline: none;
}

.breadcrumbs-link:active {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

/* Секция каталог и продукты*/

/* Фильтр и сортировка */
.catalog-top-wrapper {
    content: "";
    position: relative;
    background-color: #ebebeb;
    height: 70px;
}

.header-top-container {
    display: grid;
    grid-template-columns: 328px 832px;
    grid-template-rows: 70px;
    grid-template-areas: "header-filter header-sorting";
}

/* Фильтр */
.header-filter-container {
    grid-area: header-filter;
    background-color: #dcdcdc;
    position: relative;
    padding-left: 60px;
}

.header-filter-container::before {
    content: "";
    position: absolute;
    background-color: #dcdcdc;
    top: 0;
    right: 328px;
    width: 100vw;
    height: 100%;
}

.catalog-products-subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
}

/* Сортировка */
.header-sorting-container {
    grid-area: header-sorting;
    display: flex;
}

.sorting-type {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    height: 70px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
}

.sorting-type-item { 
    font-family: "Raleway";
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 70px;
    margin-right: 55px;
}

.selection-control {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background-color: #ebebeb;
    border: none;
    padding-right: 15px;
}

.selection-control:focus {
    position: relative;
    outline: 5px solid #af4fff;
    outline-offset: 5px;
    padding-left: 10px;
    padding-right: 15px;
    left: -10px;
}

.selection-control:hover {
    color: rgba(0, 0, 0, 0.6);
    outline: none;
}

.selection-control:active {
    color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.sorting-button-list {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    padding: 0;
}

.sorting-button-item {
    position: relative;
}

.sorting-button {
    position: relative;
    border: 0;
    width: 11px;
    height: 10px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.sorting-button:focus {
    outline: 5px solid #af4fff;
    outline-offset: 10px;
}

.sorting-button:hover {
    outline: none;
}

.left-button {
    margin-right: 19px;
}

.left-button::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 10px;
    top: 0;
    left: 0;
    background-image: url(../images/catalog/sorting-up.svg);
    margin-right: 19px;
    opacity: 0.3;
}

.left-button:hover::before {
    opacity: 0.6;
}

.right-button::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 10px;
    top: 0;
    left: 0;
    background-image: url(../images/catalog/sorting-down.svg);
    opacity: 0.3;
}

.right-button:hover::before {
    opacity: 0.6;
}

.current-button::before {
    opacity: 1;
}

/* Фильтрация и товары */
.catalog-bottom-wraper {
    display: grid;
    grid-template-columns: 328px 832px;
    grid-template-areas: 
       "filter products";
}

/* Фильтрация */
.filter-container {
    position: relative;
    grid-area: filter;
    background-color: #ebebeb;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}

.filter-container::before {
    content: "";
    position: absolute;
    background-color: #ebebeb;
    top: 0;
    right: 328px;
    width: 100vw;
    height: 100%;  
}

.catalog-filter {
    margin-top: 70px;
    margin-bottom: 51px;
    margin-right: 70px;
}

.catalog-filter fieldset:last-child {
    margin-bottom: 0;
}

.catalog-filter-group {
    position: relative;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.catalog-filter-group::before {
    position: absolute;
    content: "";
    background-color: #000000;
    width: 200px;
    height: 2px;
    top: -44px;
    left: 0;
}

.catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
    width: 200px;
    height: 34px;
    padding: 0;
    margin: 0;
}

.range-scale {
    position: relative;
    height: 2px;
    background-color: #dcdcdc;
    border-radius: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #000000;
}

.range-toggle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #ebebeb;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle:focus {
    border: 2px solid #af4fff;
    outline: none;
}

.range-toggle:active {
    background-color: #000000;
    outline: none;
    border: none;
}

.range-input:focus {
    color: #af4fff;
    background-color: transparent;
    outline: none;
}

.toggle-min {
    top: -8px;
    left: -9px;
}
  
  .toggle-max {
    top: -8px;
    right: -9px;
}

.range-wrapper-inputs {
    display: flex;
}
  
.catalog-filter-label {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    opacity: 0.3;
    display: flex;
    margin: 0;
    padding: 0;
    width: min-content;
}
  
.range-input {
    width: 30px;
    padding: 0 2px;
    font: inherit;
    background-color: transparent;
    border: none;
    appearance: textfield;
    margin-right: 40px;
}

.range-input::selection {
    background-color: transparent;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.catalog-filter-list {
    list-style-type: none;
    padding: 0;
}

.catalog-filter-item {
    margin-bottom: 15px;
}

/* Control */
.control {
    position: relative;
    display: block;
    padding-left: 37px;
}

/* Mark */
.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
}

.control-input-image {
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    cursor: pointer;
    fill: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark svg,
.control-input[type="checkbox"]:checked + .control-mark {
  fill: transparent;
  border-color: rgba(0, 0, 0, 0.5);
}

.control-input:focus ~ .control-label {
    color: #af4fff;
}

.control-input:hover ~ .control-label {
    color: #000000;
}

.control-input:active ~ .control-label {
    opacity: 0.2;
}

.control-input:focus ~ .control-mark,
.control-input:focus ~ .control-mark svg {
    fill: #af4fff;
    border-color: #af4fff;
}

.control-input:hover ~ .control-mark,
.control-input:hover ~ .control-mark svg {
    fill: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
}

.control-input:active ~ .control-mark,
.control-input:active ~ .control-mark svg {
    fill: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
    content: "";
}

.control-input[type="radio"]:focus + .control-mark::before {
    background-color: #af4fff;
}

/* Кнопка фильтра */
.button-filter {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    width: 200px;
    height: 20px;
    border: none;
    padding: 0;
    z-index: 1;
    cursor: pointer;
}

.button-filter:focus {
    outline: none;
}

.button-filter:active {
    color: rgba(0, 0, 0, 0.3);
}

.button-filter::before {
    position: absolute;
    content: "";
    background-color: #ffc700;
    width: 200px;
    height: 8px;
    top: 7px;
    left: 0;
    z-index: -1;
}

.button-filter:focus::before {
    background-color: #af4fff;
    height: 8px;
    outline: none;
    border: none;
}

.button-filter:hover::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    background-color: #ffc700;
    height: 40px;
    outline: none;
    border: none;
}


/* Товары */
.products-container {
    grid-area: products;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 77px;
}

.product-list {
    list-style-type: none;
    margin: 0;
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 44px;
    padding: 0;
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px 44px;
}

.product-card {
    position: relative;
    width: 360px;
    height: 462px;
}

.product-card-link {
    position: relative;
    width: 360px;
    height: 380px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    display: block;
}

.product-card-link:focus  {
    outline: 5px solid #af4fff;
    color: #af4fff;
}

.product-card-link:hover {
    opacity: 0.3;
}

.product-card-link:hover + .product-card-button {
    display: block;
}

.product-text-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.product-card-title {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    width: 280px;
    height: 50px;
    margin: 0;
}

.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

.product-card-button {
    display: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    position: absolute;
    content: "";
    top: 180px;
    left: 90px;
    width: 180px;
    height: 20px;
    z-index: 1;
}

.product-card-button::before {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    background-color: #ffc700;
    width: 180px;
    height: 8px;
    z-index: -1;
}

.product-card-button:hover:before {
    height: 40px;
    top: -12px;
}

.product-card-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.new-mark {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 27px;
    right: 27px;
}

.product-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    text-transform: uppercase; 
    width: 760px;
    height: 55px;
    margin-left: 70px;
    margin-bottom: 51px;
    padding: 0;
    background-color: #ffffff;
    border: 3px solid #ebebeb;
    cursor: pointer;
}

.product-button:focus {
    border: 5px solid #af4fff;
    outline: none;
}

.product-button:hover {
    border: 2px solid #000000;
    outline: none;
}

.product-button:active {
    opacity: 0.3;
}

.pagination-list {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    height: 70px;
    margin: 0;
    margin-left: 70px;
    list-style-type: none;
    padding: 0;
}

.pagination-list li:nth-child(6) {
    margin-right: 0;
}

.pagination-item-number {
    position: relative;
    text-decoration: none;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:rgba(0, 0, 0, 0.3);
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    width: 28px;
    height: 28px;
    border: 5px solid transparent;
    outline: none;
}

.pagination-link:focus {
    border: 5px solid #af4fff;
}

.pagination-link:hover {
    color: rgba(0, 0, 0, 1);
    border: 5px solid transparent;
}

.pagination-link:active {
    color: rgba(0, 0, 0, 0.1);
    border: 5px solid transparent;
}

.pagination-button-link {
    display: flex;
    align-items: center;
    height: 70px;
    text-decoration: none;
    color: #000000;
}

.pagination-left-button-link {
    padding-left: 24px;
    padding-right: 18px;
}

.pagination-right-button-link {
    padding-left: 18px;
    padding-right: 24px;
}

.pagination-button-link:focus {
    outline: 5px solid #af4fff;
    outline-offset: -5px;
    border: none;
}

.pagination-text-item {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-left-item {
    text-decoration: none;
    margin-right: auto;
}

.pagination-right-item {
    text-decoration: none;
    margin-left: auto;
}

.paginetion-item {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.class-container {
    flex-grow: 1;
}
