@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

/* Шапка сайта*/
.page-header {  
    color: #000000;
}

.header-container {
    width: 1160px;
    margin: 0 auto;
}

.navigation-container {
    width: 1160px;
    background-color: #FFE17F;
    display: flex;
    align-items: center;
}

.user-navigation-list {
    display: flex;
    width: 1075px;
    justify-content: space-around;
    padding-left: 60px;
}

.user-navigation-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    width: 1040px;
}

.navigation-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.user-navigation-list {
    width: 1075px;
    display: flex;
}


/* Слайдер */
.slider-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.slider-container-text {
    display: block;
    justify-content: start;
    width: 560px;
}

.slider-image {
    width: 560px;
    height: 560px;

}

.slider-slogan {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.slider-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #FFE17F;
}

.slider-table {
    text-align: left;
}

.slider-table-item {
    font-size: 36px;
    line-height: 30px;
}

.slider-table-text {
    font-size: 16px;
    line-height: 30px;
}


/* Категория товаров */
.image-container {
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.categories-list {
    display: flex;
    justify-content: space-between;
}

.categories-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    display: flex;
    width: 160px;
    margin: 0 auto;
}


/* Список преимуществ */
.advantages {
    background-color: #F0F0F0;
}

.advantages-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    width: 560px;
}

.advantages-text {
    width: 500px;
}

.advantages-list-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

/* Кнопка доставки над секцией контактов */
.delivery-link {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #F0F0F0;
}


/* Контакты */
.contacts-container {
    display: flex;
    justify-content: space-between;
}

.contacts-container-text {
    display: block;
}

.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.contacts-list {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.contacts-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #FFE17F ;
}

.contacts-subtitle {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.contacts-address-text {
    font-style: normal;
}

.contacts-phone {
    text-decoration: underline;
    font-style: normal;
    color: #000000;
}

.contacts-button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #FFE17F
}


/* Подписка на рассылку */
.subscription {
    background-color: #F0F0F0;
}

.subscription-container {
    display: flex;
}

.subscription-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    width: 560px;
    padding-left: 140px;
}

.subscription-text {
    width: 560px;
}


/* Подвал */
.page-footer {
    background-color: #444444;
    color:#FFFFFF
}

.about-text {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
}

.footer-contacts-phone {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    justify-content: space-between;

.footer-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

/* Стили для каталога */
.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.breadcrumbs {
    color: #000000;
}


.breadcrumbs-link {
    color: inherit;
}

.catalog-products {
    display: flex;
}

.catalog-products-subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #DCDCDC;
}

.sorting-container {
    background-color: #EBEBEB;
}

.catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
}

.catalog-filter-group {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
}

.button-filter {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #FFE17F 
}

.sorting-type {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.product-card-link {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #000000;
}

.product-card-price {
    font-size: 18px;
    line-height: 21px;
}

.pagination-list {
    background-color: #EBEBEB;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.class-container {
    flex-grow: 1;
}
